@import url(https\:\/\/fonts.googleapis.com\/css?family=Orbitron|Encode+Sans+Expanded&.css);
#resume {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: .9em;
  line-height: 1.4em;
  color: #333;
}
#resume h1 {
  color: gray;
}
#resume .section {
  margin-bottom: 15px;
  clear: both;
}
#resume .section.skill div {
  border-bottom: solid 1px #dedede;
}
#resume .section div {
  float: left;
  width: 80%;
  padding: 2px 0;
}
#resume .section div + div {
  width: 10%;
}
